NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCSUoJq_UksJekdGo7IFXhuS2A1BNDf8pM
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=whappy-d97e7.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=whappy-d97e7
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=whappy-d97e7.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=400270565891
NEXT_PUBLIC_FIREBASE_APP_ID=1:400270565891:web:e0f5fb3ebfe35878fee436
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-XBXTG5353N
