# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/.vinext/
/out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

/dist/
/.wrangler/
/.firebase/
/android/.gradle/
/android/.kotlin/
/android/build/
/android/local.properties
/android/app/build/
/android/keystore.properties
/android/*.jks
**/xcuserdata/
/releases/*.apk
/releases/*.aab
/releases/*.apk.idsig
/public-hosting/*.apk
/public/downloads/*.apk
!/public-hosting/WAPI-Android-1.9.1-native.apk
!/public/downloads/WAPI-Android-1.9.1-native.apk
!/public-hosting/WAPI-Android-2.1.1-native.apk
!/public/downloads/WAPI-Android-2.1.1-native.apk
!/public-hosting/WAPI-Android-1.9.0-native.apk
!/public/downloads/WAPI-Android-1.9.0-native.apk
!/public-hosting/WAPI-Android-1.8.9-native.apk
!/public/downloads/WAPI-Android-1.8.9-native.apk
/outputs/
/work/
*.tsbuildinfo
